@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: black;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255);
}
